@font-face {
  font-family: "Mark Light";
  src: url(./assets/fonts/mark/light.otf);
}
@font-face {
  font-family: "Mark Regular";
  src: url(./assets/fonts/mark/regular.otf);
}
@font-face {
  font-family: "Mark Bold";
  src: url(./assets/fonts/mark/bold.otf);
}
@font-face {
  font-family: "Mokoko Light";
  src: url(./assets/fonts/mokoko/MokokoLt.otf);
}
@font-face {
  font-family: "Mokoko Regular";
  src: url(./assets/fonts/mokoko/MokokoRg.otf);
}
@font-face {
  font-family: "Mokoko Bold";
  src: url(./assets/fonts/mokoko/MokokoBd.otf);
}
body {
  overflow: hidden;
}

.vimeo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/gridpattern.svg), url(./assets/bg-gradient.svg);
  background-position: center, center;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 38px;
  font-family: "Mokoko Light";
  padding: 1.5rem 1rem;
}

.icon {
  position: absolute;
}

.corner__top--left {
  left: 12%;
  top: 8%;
}
.corner__top--right {
  right: 10%;
  top: 15%;
}
.corner__bottom--left {
  left: 8%;
  bottom: 18%;
}
.corner__bottom--right {
  right: 16%;
  bottom: 15%;
}

.cross__white {
  left: 15%;
  bottom: 42%;
}
.cross__red {
  right: 18%;
  top: 39%;
}

.circle__red {
  left: 18%;
  top: 23%;
}
.circle__white {
  right: 5%;
  top: 31%;
}
.circle__green {
  right: 7%;
  bottom: 30%;
}

.cta {
  background-color: #fff;
  padding: 1rem 3rem;
  border: none;
  border-radius: 35px;
  font-size: 19px;
  font-family: "Mark Bold";
  color: #000;
  cursor: pointer;
  transition: ease-in-out 0.5s all;
}

.cta:hover, .cta:focus {
  background-color: #23C3A5;
  color: #fff;
  transition: ease-in-out 0.2s all;
}

.arrow__wrapper {
  display: flex;
  margin-top: 2rem;
}
.arrow__body {
  position: relative;
  left: 3px;
}
.arrow__head {
  position: relative;
  right: 3px;
}

footer {
  position: absolute;
  bottom: 5%;
}

@media screen and (max-width: 900px) {
  .icon {
    display: none;
  }
  #logo {
    max-width: 70%;
  }
  h1 {
    font-size: 2rem;
    text-align: center;
  }
}
* {
  box-sizing: border-box;
}

/* Full-width input fields */
input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.signup {
  background-color: #23C3A5;
  border: none;
  border-radius: 10px;
  padding: 1rem 3rem;
  color: #fff;
  font-family: "Mark Bold";
  font-size: 1rem;
  cursor: pointer;
  transition: ease-in-out 0.5s all;
}

.signup:hover, .signup:focus {
  background-color: #1fae94;
  transition: ease-in-out 0.2s all;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  position: relative;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  color: black;
  font-family: "Mark Regular";
  border-radius: 10px;
  padding-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  .modal-content {
    width: 80%; /* Could be more or less, depending on screen size */
  }
}
/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: normal;
  color: #000;
}

.close:hover,
.close:focus {
  color: #D26C69;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */